 .material-modal {
     .el-dialog {
         .el-dialog__header {
             padding: 15px;

             .el-dialog__title {
                 font-size: 16px;
             }
         }

         .el-dialog__body {
             padding: 0;

         }

         .el-dialog__footer {
             padding: 10px 15px;
         }

         .material-modal-body {
             display: flex;
             border: 1px solid #f5f5f5;
             padding: 15px 0 15px 15px;

             .material-modal-left {
                 flex: 1;
                 border-right: 1px solid #f5f5f5;
                 padding-right: 10px;
                 overflow-y: scroll;

                 &::-webkit-scrollbar {
                     width: 4px;
                     height: 4px;
                     background-color: #f4f4f5;
                 }

                 &::-webkit-scrollbar-thumb {
                     border-radius: 4px;
                     background-color: #40a9ff;
                 }

                 .el-radio-group {
                     width: 100%;

                     .el-radio-button {
                         width: 100%;

                         .el-radio-button__inner {
                             width: 100%;
                             text-align: left;
                             border: none;
                             padding: 10px 8px;
                             border-bottom: 1px solid #f5f5f5;
                             margin-bottom: 10px;
                             border-radius: 4px;
                             overflow: hidden;
                             text-overflow: ellipsis;
                             white-space: nowrap;

                             &:nth-last-child(1) {
                                 border-bottom: none;
                             }
                         }
                     }
                 }
             }

             .material-modal-right {
                 padding-left: 10px;
                 flex: 3;

                 .material-modal-items {
                     display: flex;
                     flex-wrap: wrap;
                     overflow-y: scroll;
                     height: 320px;

                     &::-webkit-scrollbar {
                         display: none;
                     }

                     .material-modal-item {
                         margin-bottom: 15px;
                         margin-right: 10px;

                         .material-modal-item-top {
                             display: flex;
                             justify-content: flex-start;
                             border: 1px solid #ccc;
                             padding: 6px 8px;
                             border-radius: 6px;

                             .el-avatar {
                                 width: 105px !important;
                                 height: 85px !important;
                                 line-height: 85px !important;
                                 margin-right: 6px;

                                 img {
                                     width: 100%;
                                 }
                             }

                             .el-radio__label {
                                 display: none;
                             }

                             .material-modal-item-unit {
                                 width: 105px;
                                 height: 85px;
                                 display: flex;
                                 align-items: center;
                                 justify-content: center;

                                 .el-icon-chat-round,
                                 .el-icon-microphone,
                                 .el-icon-link {
                                     font-size: 30px;
                                 }
                             }
                         }

                         .material-modal-item-bottom {
                             margin-top: 6px;
                             height: 20px;
                             font-size: 14px;
                             width: 138px;
                             overflow: hidden;
                             text-overflow: ellipsis;
                             white-space: nowrap;
                             text-align: center;
                         }
                     }
                 }
             }
         }
     }
 }

 .group-modal {
     .el-dialog__header {
         padding: 15px;

         .el-dialog__title {
             font-size: 16px;
         }
     }

     .el-dialog__body {
         padding: 0;

     }

     .el-dialog__footer {
         padding: 10px 15px;
     }

     .group-modal-body {
         border: 1px solid #f5f5f5;
         padding: 15px;

     }
 }

 .tag-modal {
     .el-dialog__header {
         padding: 15px;

         .el-dialog__title {
             font-size: 16px;
         }
     }

     .el-dialog__body {
         padding: 0;

     }

     .el-dialog__footer {
         padding: 10px 15px;
     }

     .tag-modal-body {
         border: 1px solid #f5f5f5;
         padding: 15px 30px;
         display: flex;

         .tag-modal-body-left {
             width: 300px;
             flex-shrink: 0;
             overflow-y: scroll;
             height: 600px;

             &::-webkit-scrollbar {
                 width: 4px;
                 height: 4px;
                 background-color: #f4f4f5;
             }

             &::-webkit-scrollbar-thumb {
                 border-radius: 4px;
                 background-color: #40a9ff;
             }

             .el-tree-node {
                 margin: 10px 0;
             }
         }


         .tag-modal-body-right {
             flex-grow: 1;
             margin-left: 30px;

             .tag-modal-body-items {
                 overflow-y: scroll;
                 height: 300px;
                 margin-top: 15px;

                 &::-webkit-scrollbar {
                     width: 4px;
                     height: 4px;
                     background-color: #f4f4f5;
                 }

                 &::-webkit-scrollbar-thumb {
                     border-radius: 4px;
                     background-color: #40a9ff;
                 }

                 .el-divider {
                     margin: 15px 0
                 }

             }
         }

     }
 }

 .set-modal {


     .el-dialog__header {
         padding: 15px;

         .el-dialog__title {
             font-size: 16px;
         }
     }

     .el-dialog__body {
         padding: 0;

     }

     .el-dialog__footer {
         padding: 10px 15px;
     }

     .set-modal-body {
         border: 1px solid #f5f5f5;
         padding: 15px 30px;

         .set-modal-body-tags {
             display: flex;
             align-items: center;
             flex-wrap: wrap;

             .el-tag {
                 margin: 0 10px 10px 0;
             }
         }

     }
 }


 .grid-modal {


     .el-dialog__header {
         padding: 15px;

         .el-dialog__title {
             font-size: 16px;
         }
     }

     .el-dialog__body {
         padding: 0;

     }

     .el-dialog__footer {
         padding: 10px 15px;
     }

     .grid-modal-body {
         border: 1px solid #f5f5f5;
         padding: 15px 30px;



     }
 }